
  body {
   font: 24px Helvetica;
   background: black;
  }

  #main {          /*Caja central*/
   min-height: 800px;
   margin: 0px;
   padding: 0px;

   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;

   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   

   
   
  
      -webkit-flex: 3 1 40%;
           flex: 3 1 40%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
  
   background:black;
   -webkit-flex: 1 6 5%;
           flex: 1 6 5%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   
   background: black;
   -webkit-flex: 1 6 5%;
           flex: 1 6 5%;
   -webkit-order: 3;
           order: 3;
   }
 
  header {        /*cajas de la cabecera*/
   display: block;
   margin: 4px;
   padding: 5px;
   border-radius: 15px 15px 15px 15px;
   min-height: 150px;
   background-image: url("images/fondo8edcopia.jpg");
   background-repeat: no-repeat;
   background-size: 100% auto;
   }

  footer {          /*cajas del pie*/
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   }
   .logo{
color:green;
font-family:StAndrew.tff;
font-size: 60px;
  }
  .table a {
color:blue;
}
#navigation{
width:100%; 
height:10%; 
margin-top:0%;
margin-left:0%;
position:relative;
top:34%;
}


#navigation-registro{
width:50%; 
height:4%; 
margin-top:0%;
margin-left:0%;
position:relative;
top:34%;
}
.mi-menu  {
    border-radius: 5px;
    list-style-type: none;
    /* la altura y su ancho dependerán de los textos */
    height:55%; 
    width: 95%;
    /* el color de fondo */
   background: -moz-linear-gradient(#555,#222);
    background: -webkit-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);
  }

  /* cada item del menu */
  .mi-menu  li {
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .mi-menu li a {
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    color: #EEE;
    display: block;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 0 28px;
    margin: 6px 0;
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  /* eliminamos los bordes del primer y el último */
  .mi-menu li:first-child a { border-left: none; }
  .mi-menu li:last-child a{ 
    border-right: none;
    text-align:left;
   }
  /* efecto hover cambia el color */
  .mi-menu li:hover > a { color: green; }

  /* los submenús */
  .mi-menu ul {
    border-radius: 0 0 5px 5px;
    left: 0;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    /* el color de fondo */
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -webkit-linear-gradient(#22,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  /* son visibes al poner el cursor encima */
  .mi-menu li:hover > ul { opacity: 1; }

   /* cada uno de los items de los submenús */
  .mi-menu ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    text-align: left;
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
  }
  .mi-menu li:hover > ul li {
    height: 36px; /* los mostramos */
    overflow: visible;
    padding: 0;
  }
  .mi-menu ul li a {
    border: none;
    border-bottom: 1px solid #111;
    margin: 0;
    /* el ancho dependerá de los textos a utilizar */
    padding: 0px 0px;
    width: 100px;
  }
  /* el último n otiene un borde */
  .mi-menu ul li:last-child a {
    border: none;
     }
     .mainimg{
  background-repeat: no-repeat;
   background-size: 100% auto;
   width: 100%;
   height: 80%;

}

  /* Too narrow to support three columns */
  @media all and (max-width: 900px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer{
    min-height: 50px;
    max-height: 50px;
   }
 
    .mi-menu ul li a{
    display: none;
   } 
   .mi-menu li:hover > ul li {
     display: none;
   }
   #navigation{
    -webkit-flex-flow: column;
    flex-flow: column;
   }
     header {        /*cajas de la cabecera*/
   display: block;
   margin: 4px;
   padding: 5px;
   border-radius: 15px 15px 15px 15px;
   min-height: 150px;
   background-size: 0px;

   }

  
  }